$def with(result)

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>Kaplan B. Bienvenido</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Personal%20B/Kaplan-B.-_1_.ico">
</head>

<center>
    <br>
    <figure class="image is-128x128">
      <img class="is-rounded is-success" src="https://github.com/MariaDelCarmenHernandezDiaz/Recursos-Test/blob/main/Personal%20B/Kaplan%20B.gif?raw=true" alt="Kaplan B. Logo">
    </figure>
    <br>
</center>
  
<!-- HERO - CABECERA -->

<section class="hero is-small" style="background-color: #6567C6">
    <div class="hero-body">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-four-fifths">
          <p class="title" style="color:#FFFFFF">
            Bienvenido,
          </p>
          <p class="subtitle" style="color:#FFFFFF">
            Inicia sesion por favor
          </p>
        </div>
        <div class="column"></div>
      </div>
      </div>
    </div>
  </section>

  <!-- FORM -->
  <section class="hero is-bold">
    <nav class="hero-body">
        <nav class="columns is-centered">
            <nav class="column is-half">

        <form method="POST">
                
            <div class="field">

                <label class="label" id="emaill" name="emaill">Email: </label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-info is-rounded" type="email" placeholder="Email" id="email" name="email">
                </p>
            </div>

            <div class="field">
                <label class="label">Contraseña:</label>
                <p class="control has-icons-left">
                    <input class="input is-info is-rounded" type="password" placeholder="Contraseña" id="contra" name="contra">
                </p>
            </div>
                <progress class="progress is-success" value="60" max="100"></progress>
                <blockquote id="mensaje"><em>$result</em></blockquote>
                <br>
            </div>

            <button class="button is-primary is-rounded">Entrar</button>

        </form>
        </nav>
        </nav>
        </nav>
        </section>

<!-- PIE DE PAGINA -->
<footer class="footer is-white" style="background-color: #6567C6">
    <nav class="content is-fullwidth has-text-centered">
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->
          <div class="columns">
            
            <div class="column is-three-fifths">
              <a class="has-text-weight-bold" href="/index">
                <img src="https://github.com/MariaDelCarmenHernandezDiaz/Recursos-Test/blob/main/Personal%20B/Kaplan%20B.%20V..gif?raw=true" width="180" height="180" alt="Kaplan B. Logo">
              </a>
            </div>
            
            <div class="column" style="color:#FFFFFF">
              Plataforma creada con 
              <b><a href="https://bulma.io/" style="color:#FFFFFF">Bulma.<br></a></b>
              Hernandez Diaz Maria del Carmen 
              <br> Matricula: <b>1718110389</b>
              <br> Correo electronico: 1718110389@utectulancingo.edu.mx
            </div>
            
            <div class="column"></div>
          </div>
            
    </nav>
</footer>
</html>